@font-face {
  font-family: "MontserratRegular";
  src: url(../fonts/MontserratRegular.ttf);
}
@font-face {
  font-family: "MontserratBold";
  src: url(../fonts/MontserratBold.ttf);
}
@font-face {
  font-family: "MontserratThin";
  src: url(../fonts/MontserratThin.ttf);
}
@font-face {
  font-family: "MontserratLight";
  src: url(../fonts/MontserratLight.ttf);
}
* {
  margin: 0px;
  padding: 0px;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

body {
  font-family: "MontserratRegular";
}

header {
  border: 1px solid black;
}
header nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
header nav h1 {
  padding: 30px;
}
header nav ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
header nav ul li {
  padding: 30px;
  color: black;
  background-color: #09417ade;
}

#section1_image {
  background-image: url(../../assets/image/backgroundimage.png);
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
#section1_image h2 {
  font-size: 4rem;
  color: white;
  text-align: center;
}
#section1_image h2 span {
  font-size: 2.5rem;
}
#section1_image p {
  color: #ad4c4c;
  font-size: 2rem;
}

#section2_skills {
  background-color: #f9f9f9;
  padding: 30px 0 30px 0;
}
#section2_skills h2 {
  text-align: center;
}
#section2_skills #flex_skills_cards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-wrap: wrap;
}
#section2_skills .container_skills {
  width: 300px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-wrap: wrap;
  text-align: center;
}

#section3_about {
  border: 1px solid red;
  padding: 50px 0 50px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
#section3_about h2 {
  text-align: center;
}
#section3_about #flex_about {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-wrap: wrap;
}
#section3_about #flex_about #about {
  width: 45%;
  border: 1px solid purple;
  padding: 25px;
}
#section3_about #flex_about #about p {
  margin-bottom: 15px;
}
#section3_about #flex_about #langage {
  width: 45%;
  border: 1px solid brown;
  padding: 25px;
}
#section3_about #flex_about #langage p {
  margin-bottom: 15px;
}

#my_works {
  position: relative;
  padding: 30px;
  background-color: #f9f9f9;
}
#my_works h2 {
  text-align: center;
}
#my_works #flex_works {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  flex-wrap: wrap;
}
#my_works #flex_works .img_works {
  width: 25%;
  border: 1px solid white;
}
#my_works #flex_works .img_works .img_responsive {
  width: 100%;
}

/*# sourceMappingURL=style.css.map */
